body {
	font-family: 'Lato','Helvitica Neue',Helvitica,Arial,sans-serrif;
	overflow-x: hidden;

}
p {
	font-size: 20px;

}
p.small{
	 font-size:16 px;
}
a,
a:hover,
a:focus,
a:active,
a:active{
	color:#18BC9C;
	outline: none;
	text-decoration: bold;
}
h1,
h2,
h3,
h4,
h5,
h6{
	font-family: 'Lato','Helvitica Neue',Helvitica,Arial,sans-serrif;
	font-weight: 800;
}
header{
	text-align: center;
	padding: 2%
	background:#F3F5F7;
	color: rgb(0,56,76);
}
header.container {
	padding-top:100px;
	padding-bottom:50px;  
}
.navbar{
	position: relative;
	border: 2px  solid transparent;
	min-height: 50px;
	padding: 1%
}
.navbar-default {
	background-color: #2E383D;
	border-color: #e7e7e7;
}
.navbar-fixed-top{
	top:0;
	border-width: 0 0 1px;
}
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.nav>li {
	position: relative;
	display: block;
}
.nav>li>a {
	position: relative;
	display: block;
	text-decoration: bold;
	padding: 10px;
	color: white;
}
.nav>li>a:hover,
.nav>li>a:focus {
	display: block;
	padding: 10px;
	background-color: rgba(61,153,244,0.82);
	text-decoration: none !important;
}
.container{
	padding: 5%;
}
section h2{
	margin: 0;
	font-size: 3em;
}
footer {
	background-color: #b4b4b4;
	color:black;
}
footer h3{
	margin-bottom: 5px;
}
footer.footer-above{
	 background-color:#C2C4C6;
	 text-align: center;
}

#about{
	background-color: white;
}
    		table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}
table#t01 th {
    background-color: black;
    color: white;
}
.container-left{
	background-color: 3CB371;
	color: white;
}
.container-right{
	float: inherit;
	width: 400px;
	background-color: #000000;
	color: white;
    outline: none;
	text-decoration: double;
		}
.container-right-technologies known{
	background-color: #FF0000;
}


.caption{
	background-color: 6A5ACD;
	text-decoration: bold;
}
@media screen and (min-width: 768px){
.myFont {
      
      font-size: 56px;
      color: white;
      
    }
 .hobbies-intresets{
 	background-color: #EE82EE;
 	float: inherit;
	width: 400px;

	color: white;
    outline: none;
	text-decoration: double;
 	
 }
    		